<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div class="container">
	   <div class="error">
	   		This page does not exist.<br><br>
	   		Please return to the <a href="/">Home</a> page.
	   </div>
    </div>
 
  </body>
</html>
