<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div class="container">
	   <nav>
	    	<a href="chat">Chat</a>
	    	<a href="video">Video</a>
	   </nav>
    </div>

  </body>
</html>
